body {
    background-color: #D5E1EF;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    gap: 24px;
    width: 288px;
    height: 443px;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20vh;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
    border: 8px #999;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0px 16px 16px 16px;
    width: 256px;
    height: 131px;
}

img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 0;
}

h3 {
    font-size: 22px;
    color: #1F314F;
    font-family: 'Outfit';
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
}

p {
    font-size: 15px;
    color: #68778D;
    font-family: 'Outfit';
    line-height: 1.4;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0;
}

footer {
    font-family: 'Outfit';
    text-align: center;
    padding-top: 150px;
}